@{
    Layout = null;
}

<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">

@await Html.PartialAsync("HeaderPartial")
@await Html.PartialAsync("NavbarPartial")

<body id="top">

    @await Component.InvokeAsync("FeatureList")
    <div class="page-content">
        <div id="content">
            @await Component.InvokeAsync("AboutList")
            @await Component.InvokeAsync("ServiceList")
            @await Component.InvokeAsync("SkillList")
            @await Component.InvokeAsync("PortfolioList")
            @await Component.InvokeAsync("ExperienceList")
            @await Component.InvokeAsync("TestimonialList")
            @await Component.InvokeAsync("ContactList")
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    @await Component.InvokeAsync("FooterList")
    @await Component.InvokeAsync("ScriptList")
</body>
</html>